body{
    text-align:left;
}
.logo{
    height:8%;
}

headr ul{
    width:100%;
    height:5%;
    background-color:black;
}

headr ul li{
   
    float:left;
    list-style-type:none;
    color:white;
    margin-right:6%;
    line-height:37px;
}
main{
    width;100%:
}
.contents{
    float:right;
    margin-top:5%;
}

.contents h3{
    border-bottom:dotted gray 2px;
}
main ul li{
    list-style-type:none;
}
main h1{
    border-left:5px black solid;
    border-bottom:5px gray solid;
    width:70%;
}

main form{
    line-height:40px;
    width:70%;
    height:55%;
    background-color:whitesmoke;
    border:solid 2px lightgray;
    
}



.title{
    border-left:red 3px solid;
    margin-left:2%;
}


.kiji{
    width:70%;
    background-color:whitesmoke;
    height:200px;
    border:solid lightgray 2px;
    padding:4opx;
    margin-bottom:2%;
}

}
.kiji h3{
    border-bottom:solid lightgray 2px;
}

.a{
    font-size:5%;
}
footr{
    float:left;
    width:100%;
    background-color:black;
    height:5%;
    margin-top:2%;
    color:white;
    text-align: center;
    line-height:15px;

}