@CHARSET "UTF-8";
/*-------------------------------------------------------------------------
	共通
-------------------------------------------------------------------------*/
#boxList{
	width:19%;
	height:550px;
	float:left;
	border:1px solid white;
	margin:2px 5% 2% 5%;
	padding:15px;
	border-radius:15px;
	background-color:rgba(0,0,0,0.5)
}
#boxList:hover {
	background-color:black;
	}
.totalprice{
	clear:both;
	font-size:25px;
	width:50%;
	background:rgba(0,0,0,0.5);
	padding:2%;
	margin-left:25%;
}
.message{
	font-size:17px;
}

/*-------------------------------------------------------------------------
settlement.jsp用
-------------------------------------------------------------------------*/
#dL{
	font-size:18px;
}
.box{
	float:left;
	background:rgba(0,0,0,0.2);
	margin-left:5%;
}
.btn{
	clear:both;
}
#btn_2{
	position: absolute;
	top:155%;
	left:60%;
}
#b1{
	clear:both;
}
.line {
  			height: 0.5px;
 			 border : dashed 0.3px;
 			 margin:0 20% 0 20%;
		}
#nscl{
	width:21%;
	height:350px;
	float:left;
	border:0.3px solid white;
	margin:2px 5% 2% 5%;
	padding:12px;
	border-radius:20px;
	background-color:rgba(0,0,0,0.5);
}


/*-------------------------------------------------------------------------
cart.jsp用
-------------------------------------------------------------------------*/
.eMessage{
	font-size:17px;
	font-color:red;
}


/*-------------------------------------------------------------------------
purchaseHistory.jsp用
-------------------------------------------------------------------------*/
#delete{
	clear:both;
}

