@CHARSET "UTF-8";
/*-------------------------------------------------------------------------
	共通
-------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
商品一覧.jsp用
-------------------------------------------------------------------------*/
.itemListBox{
	width:20%;
/* 	height:370px; */
	float:left;
	margin-bottom:5%;
	margin-right:5%;
	margin-left:5%;
	margin:top:2px;
	padding:15px;
	border-radius:15px;
	border:1px solid white;
	background-color:rgba(0,0,0,0.5);

}


.imageHover{
 width: 100%;
  height: 210px;
  overflow: hidden;
  text-align:center;
/*   margin-bottom:-10px; */
}

/* .productInfo{ */
/* margint-top:50px; */
/* margin-bottom:50px; */
/* padding-bottom:10px; */
/* } */

.proName{
	font-size:1.5vw;
}
.proName2{
	font-size:1vw;
}

.center{
	clear:both;
	width:100%;
	text-align:center;
}





/*-------------------------------------------------------------------------
	商品詳細.jsp用
-------------------------------------------------------------------------*/
Table {
	margin:0 25% 0 25%;
}
h2{
	border-left:solid red 20px;
}
#category{
	text-align:left;
	font-size:30px;
}
#productName{
	 font-size:25px;
	 border-bottom: double 5px red;
}
#productNameKana{
	 font-size:20px;
}
legend{
	color:white;
	font-size:16px;
	font-weight: bold;
}
.productDescription{
	position: relative;
	margin: 2em auto;
 	padding: 1.5em;
	border: 1px solid white;
	width: 90%;
}
#toppingtitle{
	text-align:left;
	line-height:0.5;
	 font-size:20px;
}
#total1{
	font-size:25px;
	width:50%;
	background:rgba(0,0,0,0.5);
	padding:2.5%;
	margin-left:25%;
}
#product_count{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 5px 20px;
	color: black;
	font-weight:bold;
}
#total_price{
	text-align:right;
	width: 10%;
	padding:8px 0.1px;
	font-size:20px;
	font-weight:bold;
}
.square_btn {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: red;
	border-radius: 10px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px red;
}
.square_btn:active {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.line {
	height: 0.5px;
	border : dashed 0.3px;
	margin:0 20% 0 20%;
}
#sP{
	margin:0 12.5% 30％ 12.5%;
}
#suggest:hover{
	background-color:black;
}
#suggest{
	width:20%;
	height:400px;
	float:left;
	border:1px solid white;
	margin:2px 5% 5% 5%;
	padding:15px;
	border-radius:20px;
	background-color:rgba(0,0,0,0.5);
}

.icon2{
	position:relative;
	top:8px;
}
.icon1{
	position:relative;
	right:100px;
	bottom:50px;
}
.icon1:hover{
	opacity:0.8;
}
.square_btn:hover{
	opacity:0.8;
}


