@CHARSET "UTF-8";

#maincom {
		width:50%;
		height:50%;
		margin:0 auto;
		}

tr td {
	    padding-right:30px;
	    padding-left:20px;
	    padding-top:5px;
	    }

.icon5 {
		text-align:center;
		}
